<h2 class="titulo_principal">Editar Acceso Rapido Registro Finanzas</h2>

<form action="/acceso_rapido/finanzas/edit_registros/{{Datos.finanzas_id}}" method="POST" class="contenedor_form">
	<div class="contenedor_inputs">
		
		<input type="text" name="descripcion_registros" placeholder="Descripcion" class="color_blanco" required value="{{Datos.descripcion}}">

		<input type="number"  name="id_etiqueta_registros" placeholder="Id Etiqueta" class="color_azul" required id="etiquta_id_input" hidden value="{{Datos.etiqueta_id}}">
		<input type="text"  name="etiqueta_registros" placeholder="Etiqueta" class="color_celeste" required id="etiquta_nombre_input" value="{{Datos.etiquetas_nombre}}">

		<input type="text" name="monto" placeholder="Monto" class="color_naranja" required value="{{Datos.dinero}}">

		<input type="number"  name="id_tipo_monto_registros" placeholder="Id Tipo Monto" class="color_gris" required id="tipo_dinero_id_input" hidden value="{{Datos.tipo_dinero_id}}">
		<input type="text"  name="tipo_monto_registros" placeholder="Tipo Monto" class="color_marron" required id="tipo_dinero_nombre_input" value="{{Datos.tipo_dinero_simbolo}}">

		<input type="number"  name="id_banco_registros" placeholder="Id Banco" class="color_azul" required id="banco_id_input" hidden value="{{Datos.banco_id}}">
		<input type="text"  name="banco_registros" placeholder="Banco" class="color_verde" required id="banco_nombre_input" value="{{Datos.bancos_nombre}}">

		<input type="number"  name="id_control_registros" placeholder="Id Control Dinero" class="color_azul" id="control_dinero_id_input" hidden>
		<input type="text"  name="control_registros" placeholder="Control Dinero" class="color_azul" id="control_dinero_nombre_input">

		<input type="number"  name="id_lista_registros" placeholder="Id Lista Gatos" class="color_azul" id="lista_gastos_id_input" hidden>
		<input type="text"  name="lista_registros" placeholder="Lista Gastos" class="color_azul" id="lista_gastos_nombre_input">

		<input type="text" id="posicion" name="posicion" required class="color_gris" placeholder="Posicion" value="{{Datos.posicion}}">
	</div>
	<input type="submit" value="Enviar" class="btn_enviar">
</form>

<div class="contenedor_busqueda" id="contenedor_busqueda_1">
	<div class="busqueda">
		<div class="busqueda_titulo_contenedor">
			<h3>Busqueda Etiquetas</h3>
			<input type="text" name="etiquetas_buscar" placeholder="nombre" id="filtro_etiquetas">
		</div>
		
		<div id="contenedor_elementos_filtro_etiquetas" class="contenedor_elementos_filtro_etiquetas">
			{{#each Etiquetas}}
			<div onclick="imprimir_dato_etiqueta({{id}})" id="etiqueta_{{id}}" >
				<p hidden>{{id}}</p>
				<h4>{{nombre}}</h4>
			</div>
			{{/each}}
		</div>
		<div class="busqueda_quitar" id="busqueda_quitar_1">X</div>
	</div>
</div>

<div class="contenedor_busqueda" id="contenedor_busqueda_2">
	<div class="busqueda">
		<div class="busqueda_titulo_contenedor">
			<h3>Busqueda Bancos</h3>
			<input type="text" name="etiquetas_buscar" placeholder="nombre" id="filtro_bancos">
		</div>
		
		<div id="contenedor_elementos_filtro_bancos" class="contenedor_elementos_filtro_etiquetas">
			{{#each Bancos}}
			<div onclick="imprimir_dato_banco({{id}})" id="banco_{{id}}" >
				<p hidden>{{id}}</p>
				<h4>{{nombre}}</h4>
			</div>
			{{/each}}
		</div>
		<div class="busqueda_quitar" id="busqueda_quitar_2">X</div>
	</div>
</div>

<div class="contenedor_busqueda" id="contenedor_busqueda_3">
	<div class="busqueda">
		<div class="busqueda_titulo_contenedor">
			<h3>Busqueda Tipo de Monto</h3>
			<input type="text" name="etiquetas_buscar" placeholder="nombre" id="filtro_tipo_dinero">
		</div>
		
		<div id="contenedor_elementos_filtro_tipo_dinero" class="contenedor_elementos_filtro_etiquetas">
			{{#each Tipo_Dinero}}
			<div onclick="imprimir_dato_tipo_dinero({{id}})" id="tipo_dinero_{{id}}" >
				<p hidden>{{id}}</p>
				<h4>{{simbolo}}</h4>
			</div>
			{{/each}}
		</div>
		<div class="busqueda_quitar" id="busqueda_quitar_3">X</div>
	</div>
</div>

<div class="contenedor_busqueda" id="contenedor_busqueda_4">
	<div class="busqueda">
		<div class="busqueda_titulo_contenedor">
			<h3>Control Dinero</h3>
			<input type="text" name="etiquetas_buscar" placeholder="nombre" id="filtro_control_dinero">
		</div>
		
		<div id="contenedor_elementos_filtro_control_dinero" class="contenedor_elementos_filtro_etiquetas">
			{{#each Control_Dinero}}
			<div onclick="imprimir_dato_control_dinero({{id}})" id="control_dinero_{{id}}" >
				<p hidden>{{id}}</p>
				<h4>{{descripcion}}</h4>
			</div>
			{{/each}}
		</div>
		<div class="busqueda_quitar" id="busqueda_quitar_4">X</div>
	</div>
</div>

<div class="contenedor_busqueda" id="contenedor_busqueda_5">
	<div class="busqueda">
		<div class="busqueda_titulo_contenedor">
			<h3>Lista Gastos</h3>
			<input type="text" name="etiquetas_buscar" placeholder="nombre" id="filtro_lista_gastos">
		</div>
		
		<div id="contenedor_elementos_filtro_lista_gastos" class="contenedor_elementos_filtro_etiquetas">
			{{#each Lista_Gastos}}
			<div onclick="imprimir_dato_lista_gastos({{id}})" id="lista_gastos_{{id}}" >
				<p hidden>{{id}}</p>
				<h4>{{nombre}}</h4>
			</div>
			{{/each}}
		</div>
		<div class="busqueda_quitar" id="busqueda_quitar_5">X</div>
	</div>
</div>


<script type="text/javascript" src="/codigo/Autocompletar_fecha_actual.js"></script>
<script type="text/javascript" src="/codigo/busqueda_etiqueta.js"></script>
<script type="text/javascript" src="/codigo/comando.js"></script>