{{> menu_finanzas}}
<div class="tabla_contenedor tabla_contenedor_registro">
	<div class="titulo_tabla_contenedor">
		<h4 class="titulo_tabla titulo_tabla_contenedor_registro">Acceso Rapido Registros Finanzas</h4>
		<a href="/acceso_rapido/finanzas/add_registros" class="titulo_tabla_contenedor_btn_derecho">Agregar</a>			
	</div>

	<div class="table">
		<table>
			
			<thead>

			    <tr>
			      <th class="acceso_rapido_th_input_posicion">P</th>
			      <th class="acceso_rapido_th_input_descripcion">Descripcion</th>
			      <th class="acceso_rapido_th_input">Etiqueta</th>
			      <th class="acceso_rapido_th_input_monto">__Monto__</th>
			      <th class="acceso_rapido_th_input">Moneda</th>
			      <th class="acceso_rapido_th_input">Tipo de Monto</th>
			      
			      <th>Acciones</th>
			    </tr>
			 </thead>
			 <tbody>
			 	<div class="tbody">
			 	{{#each Ac_registro_finanzas}}
			    <tr>
			    	<form action="/acceso_rapido/finanzas/insertar_registros/{{finanzas_id}}" method="POST">
			    	{{#eq finanzas_id null}}
			    	{{else}}
			        <td class="">{{posicion}}</td>	
			        <td class=""><input type="" name="descripcion" value="{{descripcion}}" class="input_acceso_rapido"></td>
			        <td class="">{{etiquetas_nombre}}</td>
			        {{#mayor_menor dinero 0}}
			        <td class="color_verde"><input type="" name="dinero" value="{{toFixed dinero 2}}" class="input_acceso_rapido"></td>
			        {{else}}
			        <td class="color_rojo"><input type="" name="dinero" value="{{toFixed dinero 2}}" class="input_acceso_rapido"></td>
			        {{/mayor_menor}}
			      	
			        <td class="">{{tipo_dinero_simbolo}}</td>
			        <td class="">{{bancos_nombre}}</td>

			        <td class="contenedor_btn_registro">
			         	<button class="btn_agregar_finanzas">Insertar</button>
						<a href="/acceso_rapido/finanzas/edit_registros/{{finanzas_id}}" class="btn_edit_finanzas">Editar</a>
				        <a href="/acceso_rapido/finanzas/borrar_registros/{{finanzas_id}}" class="btn_elim_finanzas">Elimina</a>
			        </td>
			       {{/eq}}
			        </form>
			    </tr>
			    {{/each}}
			    </div>
			 </tbody>
		</table>
	</div>
	</div>