{{> menu_gestion_tiempo}}

<div class="btn_metas_contenedor">
	<button class="btn_metas insertar_fechas_btn" onclick="aparecer_desaparecer(`none_insertar_fechas`)">Insertar Fechas</button>
	<button class="btn_metas horario_btn" onclick="aparecer_desaparecer(`none_horario`)">Horario</button>
</div>

<div class="tareas_orden_contenedor">
	
	<div class="titulo_orden">
		<h2>Tareas Por Hacer</h2>
	</div>

	{{#each Tabla_metas_objetivos_tareas}}
	<div class="contenedor_tareas">
		<h3 class="meta_ordenar" id="horario_datos_extraccion_meta({{id_tareas}})">{{m_titulo}}</h3>
		<p class="objetivo_ordenar" id="horario_datos_extraccion_objetivo({{id_tareas}})">{{o_titulo}}</p>
		
		{{#validarTitulo t_titulo ../Horario_indiv}}
		<li id="horario_datos_extraccion_titulo({{id_tareas}})" class="C-naranja_2">
		{{else}}
		<li id="horario_datos_extraccion_titulo({{id_tareas}})" class="C-rojo">
		{{/validarTitulo}}
		
			{{t_titulo}}
			<strong id="none_fechas" class="fecha_plazo_objetivo_tarea plazo">{{fecha_cumplimiento_t}}</strong>
			{{#eq fecha_cumplimiento_t null}}
					<a href="{{../gestion_tiempo_links.tareas.add_fecha_plazo}}/{{id_tareas}}/{{id_objetivos}}/{{id_metas}}" id="none_insertar_fechas" class="none sub_btn btn_peque単o B-naranja">configurar plazo</a>
					{{else}}
					{{#eq fecha_inicio_t null}}
					<a href="{{../gestion_tiempo_links.tareas.add_fecha_inicio}}/{{id_tareas}}/{{id_objetivos}}/{{id_metas}}" id="none_insertar_fechas" class="none sub_btn btn_peque単o B-rojo">Iniciar</a>
					{{else}}
					{{#eq fecha_fin_t null}}
					<a href="{{../gestion_tiempo_links.tareas.add_fecha_fin}}/{{id_tareas}}/{{id_objetivos}}/{{id_metas}}" id="none_insertar_fechas" class="none sub_btn btn_peque単o B-verde">Fin</a>
					{{/eq}}
					{{/eq}}
					{{/eq}}
		<button 
		id="none_horario" class="sub_btn btn_peque単o B-azul_claro none" 
		onclick="aparecer_desaparecer(`none_horario_emergente`), 
				 horario_extraer_datos(`{{id_tareas}}`,`{{t_titulo}}`)">
			Horario
		</button>
		</li>
	</div>
	{{/each}}
</div>

<div class="contenedor_horarios_insertar none" id="none_horario_emergente">
	
	<div class="contenedor_horario">
		<form class="inputs_horario" id="formulario_horario_datos" method="POST" action="/gestion_tiempo/horario/add/tarea">
			<input type="number" name="id_horario" id="input_id_horario">
			<input type="number" name="id_tarea" id="input_id_tarea">
			<input type="text" name="meta" id="input_meta_horario">
			<input type="text" name="objetivo" id="input_objetivo_horario">
			<input type="text" name="titulo" id="input_titulo_horario">
			<div class="input_contenedor">
				<p>Hora Inicio</p>
				<input type="time" name="hora_inicio" class="C-naranja" required>
			</div>
			
			<div class="input_contenedor">
				<p>Hora Fin</p>
				<input type="time" name="hora_fin" class="C-verde" required>
			</div>
			
		</form>
		<button class="X_cerrar" onclick="aparecer_desaparecer(`none_horario_emergente`)">X</button>
		<div class="horarios_text">
			{{#each Horarios}}
			<button onclick="extraer_id_horario(`{{id}}`)" form="formulario_horario_datos">{{titulo}}
			</button>
			{{/each}}	
		</div>
		
	</div>
</div>